.rowStyle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
}
.rowStyle:hover {
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
}
.ant-image-img {
  width: auto;
  height: 60px;
}
.inneGridStyle {
  width: 100%;
  background-color: white;
}
.previewHeader {
  font-weight: bold;
}
